In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
dataset=pd.read_csv("pokedex - Missing.csv")
dataset.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1.0,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1.0,Normal,Seed Pokémon,2.0,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2.0,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1.0,Normal,Seed Pokémon,2.0,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3.0,Venusaur,Bisaflor,フシギバナ (Fushigibana),1.0,Normal,Seed Pokémon,2.0,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3.0,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1.0,Normal,Seed Pokémon,2.0,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4.0,Charmander,Glumanda,ヒトカゲ (Hitokage),1.0,Normal,Lizard Pokémon,1.0,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [6]:
dataset.isnull().sum()

Unnamed: 0            0
pokedex_number       12
name                 14
german_name         102
japanese_name       107
generation           20
status               11
species              21
type_number           8
type_1                4
type_2              487
height_m              2
weight_kg             3
abilities_number      1
ability_1            27
ability_2           520
ability_hidden      219
total_points         16
hp                   26
attack                9
defense               9
sp_attack             9
sp_defense            3
speed                 2
catch_rate          106
base_friendship     106
base_experience     105
growth_rate          24
egg_type_number      23
egg_type_1            4
egg_type_2          747
percentage_male     237
egg_cycles            2
against_normal        1
against_fire          1
against_water         1
against_electric      1
against_grass         1
against_ice           1
against_fight         0
against_poison        0
against_ground        0
against_flying        0
against_psychic       0
against_bug           0
against_rock          0
against_ghost         0
against_dragon        0
against_dark          0
against_steel         0
against_fairy         0
dtype: int64

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1028 non-null   int64
 1   pokedex_number    1016 non-null   float64
 2   name              1014 non-null   object
 3   german_name       926 non-null    object
 4   japanese_name     921 non-null    object
 5   generation        1008 non-null   float64
 6   status            1017 non-null   object
 7   species           1007 non-null   object
 8   type_number       1020 non-null   float64
 9   type_1            1024 non-null   object
 10  type_2            541 non-null    object
 11  height_m          1026 non-null   float64
 12  weight_kg         1025 non-null   float64
 13  abilities_number  1027 non-null   float64
 14  ability_1         1001 non-null   object
 15  ability_2         508 non-null    object
 16  ability_hidden    809 non-null    object
 17  total_points      1012 non-null   float64
 18  hp                1002 non-null   float64
 19  attack            1019 non-null   float64
 20  defense           1019 non-null   float64
 21  sp_attack         1019 non-null   float64
 22  sp_defense        1025 non-null   float64
 23  speed             1026 non-null   float64
 24  catch_rate        922 non-null    float64
 25  base_friendship   922 non-null    float64
 26  base_experience   923 non-null    float64
 27  growth_rate       1004 non-null   object
 28  egg_type_number   1005 non-null   float64
 29  egg_type_1        1024 non-null   object
 30  egg_type_2        281 non-null    object
 31  percentage_male   791 non-null    float64
 32  egg_cycles        1026 non-null   float64
 33  against_normal    1027 non-null   float64
 34  against_fire      1027 non-null   float64
 35  against_water     1027 non-null   float64
 36  against_electric  1027 non-null   float64
 37  against_grass     1027 non-null   float64
 38  against_ice       1027 non-null   float64
 39  against_fight     1028 non-null   float64
 40  against_poison    1028 non-null   float64
 41  against_ground    1028 non-null   float64
 42  against_flying    1028 non-null   float64
 43  against_psychic   1028 non-null   float64
 44  against_bug       1028 non-null   float64
 45  against_rock      1028 non-null   float64
 46  against_ghost     1028 non-null   float64
 47  against_dragon    1028 non-null   float64
 48  against_dark      1028 non-null   float64
 49  against_steel     1028 non-null   float64
 50  against_fairy     1028 non-null   float64
dtypes: float64(37), int64(1), object(13)
memory usage: 409.7+ KB

In [8]:
dataset.select_dtypes(include="float64").columns

Index(['pokedex_number', 'generation', 'type_number', 'height_m', 'weight_kg',
       'abilities_number', 'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'catch_rate', 'base_friendship',
       'base_experience', 'egg_type_number', 'percentage_male', 'egg_cycles',
       'against_normal', 'against_fire', 'against_water', 'against_electric',
       'against_grass', 'against_ice', 'against_fight', 'against_poison',
       'against_ground', 'against_flying', 'against_psychic', 'against_bug',
       'against_rock', 'against_ghost', 'against_dragon', 'against_dark',
       'against_steel', 'against_fairy'],
      dtype='object')

SimpleImputer is a tool that fills (replaces) missing values in a dataset.

In [10]:
from sklearn.impute import SimpleImputer

fit()

Calculates the strategy of each column in the given dataset.

transform()

Replaces missing values using those strategy.

In [12]:
si = SimpleImputer(strategy="mean")
ar = si.fit_transform(dataset[['pokedex_number', 'generation', 'type_number', 'height_m', 'weight_kg',
       'abilities_number', 'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'catch_rate', 'base_friendship',
       'base_experience', 'egg_type_number', 'percentage_male', 'egg_cycles',
       'against_normal', 'against_fire', 'against_water', 'against_electric',
       'against_grass', 'against_ice', 'against_fight', 'against_poison',
       'against_ground', 'against_flying', 'against_psychic', 'against_bug',
       'against_rock', 'against_ghost', 'against_dragon', 'against_dark',
       'against_steel', 'against_fairy']])

pd.DataFrame() is used to create a new DataFrame from data.

In [14]:
new_dataset = pd.DataFrame(ar,columns=dataset.select_dtypes(include="float64").columns)

In [15]:
new_dataset

,pokedex_number,generation,type_number,height_m,weight_kg,abilities_number,total_points,hp,attack,defense,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1.0,1.0,2.0,0.7,6.900000,2.0,318.0,45.0,49.00000,49.000000,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
1,2.0,1.0,2.0,1.0,13.000000,2.0,405.0,60.0,62.00000,63.000000,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
2,3.0,1.0,2.0,2.0,100.000000,2.0,525.0,80.0,82.00000,83.000000,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
3,3.0,1.0,2.0,2.4,155.500000,1.0,625.0,80.0,100.00000,123.000000,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
4,4.0,1.0,1.0,0.6,8.500000,2.0,309.0,39.0,52.00000,43.000000,...,2.0,1.0,1.0,0.50,2.00,1.0,1.0,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,888.0,8.0,1.0,2.8,110.000000,1.0,670.0,92.0,130.00000,115.000000,...,1.0,1.0,1.0,0.50,1.00,1.0,0.0,0.5,2.0,1.0
1024,889.0,8.0,2.0,2.9,785.000000,1.0,720.0,92.0,130.00000,145.000000,...,2.0,1.0,1.0,0.25,0.25,1.0,0.5,0.5,0.5,1.0
1025,889.0,8.0,1.0,2.9,210.000000,1.0,670.0,92.0,130.00000,115.000000,...,1.0,2.0,2.0,0.50,0.50,1.0,1.0,0.5,1.0,2.0
1026,890.0,8.0,2.0,20.0,950.000000,1.0,690.0,140.0,85.00000,95.000000,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0
1027,890.0,8.0,2.0,100.0,69.818634,0.0,1125.0,255.0,80.10893,74.269872,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0

In [16]:
new_dataset.isnull().sum()

pokedex_number      0
generation          0
type_number         0
height_m            0
weight_kg           0
abilities_number    0
total_points        0
hp                  0
attack              0
defense             0
sp_attack           0
sp_defense          0
speed               0
catch_rate          0
base_friendship     0
base_experience     0
egg_type_number     0
percentage_male     0
egg_cycles          0
against_normal      0
against_fire        0
against_water       0
against_electric    0
against_grass       0
against_ice         0
against_fight       0
against_poison      0
against_ground      0
against_flying      0
against_psychic     0
against_bug         0
against_rock        0
against_ghost       0
against_dragon      0
against_dark        0
against_steel       0
against_fairy       0
dtype: int64